<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.7.1/jquery.min.js"> </script>

    <script crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <!--/*@thymesVar id="recipes" type="java.util.List"*/-->
    <!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
    <div class="container-fluid">
        <h1>My Recipes</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Recipes (Expand to see the details)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="recipe : ${recipes}">
                    <td>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button fs-4" type="button"
                                        data-bs-toggle="collapse"
                                        th:attr="data-bs-target='#collapse-recipe-' + ${recipe.getId()}, aria-controls='collapse-recipe-' + ${recipe.getId()}"
                                        aria-expanded="false"
                                        style="font-weight: bolder">
                                    <span th:text="${recipe.getDescription()}"> - </span>&nbsp;
                                    <span class="fs-6 badge text-bg-secondary" th:text="${recipe.getDifficulty().name()}"> - </span>&nbsp;
                                </button>
                            </h2>
                            <div th:id="'collapse-recipe-' + ${recipe.getId()}"
                                 class="accordion-collapse collapse"
                                 th:attr="data-bs-parent='#accordionRecipe-' + ${recipe.getId()}">
                                <div class="accordion-body pt-lg-2">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="col-sm-3"><strong>Preparation Time:</strong></td>
                                            <td class="col-sm-3"><span th:text="${recipe.getPrepTime()}"></span></td>
                                            <td class="col-sm-3"><strong>Cooking Time:</strong></td>
                                            <td class="col-sm-3"><span th:text="${recipe.getCookTime()}"></span></td>
                                        </tr>
                                        <tr>
                                            <td class="col-sm-3"><strong>Source:</strong></td>
                                            <td class="col-sm-3"><span th:text="${recipe.getSource()}"></span></td>
                                            <td class="col-sm-3"><strong>URL:</strong></td>
                                            <td class="col-sm-3"><span th:text="${recipe.getUrl()}"></span></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="text-end">
                                        <a th:href="@{'/recipe/' + ${recipe.getId()} + '/show'}"
                                           class="btn btn-outline-primary mt-3">Details
                                            <i class="bi bi-box-arrow-up-right"></i>
                                        </a>

                                        <a th:href="@{'/recipe/' + ${recipe.getId()} + '/update'}"
                                           class="btn btn-outline-success mt-3">Update
                                            <i class="bi bi-pencil"></i>
                                        </a>

                                        <a th:href="@{'/recipe/' + ${recipe.getId()} + '/delete'}"
                                           class="btn btn-outline-danger mt-3">Delete
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>